/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px; /* Increased spacing */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Content */
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
 
  
  
  p {
    margin-bottom: 15px;
  }
  
  ul {
    margin-bottom: 15px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  